# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [7]:
data = {'國家': ['USA', 'JP', 'TW', 'CA', 'TA'],
        '人口': np.random.randint(low=100, size=5)}
data2 = pd.DataFrame(data=data)

In [11]:
data2

    國家  人口
0  USA  56
1   JP  76
2   TW  77
3   CA  57
4   TA  11

In [46]:
data2.sort_values(by='人口', ascending=False)#['國家'][2]

    國家  人口
2   TW  77
1   JP  76
3   CA  57
0  USA  56
4   TA  11

In [41]:
m_r = data2['人口'].idxmax(axis=0) # Return the row label of the maximum value.

print('The country with maximum population: ', data2.iloc[m_r]['國家'])

The country with maximum population:  TW